<div id="footer" class="u-width--fluid">
  <footer class="c-flex-container">
    <h3 class="c-heading--h3 c-fe--col3"> {{ site.title }} </h3>

    <section class="c-fe--col2 c-fe--col12--landscape">
      <header>
        <h4 class="c-heading">Subscribe</h4>
      </header>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="c-button--dark p-ft__button">
        <span class="p-ft__button">RSS Feed</span>
      </a>
    </section>

    <section class="c-fe--col2 c-fe--col12--landscape">
      <header>
        <h4 class="c-heading">SNS</h4>
      </header>
      <ul class="c-button-group--horizontal">
        {% if site.github_username %}
        <li class="u-flex--column c-button--dark">
          <a href="https://github.com/{{ site.github_username }}">
            <span class="p-ft__button">Github</span>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li class="u-flex--column c-button--dark">
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="p-ft__button">Twitter</span>
          </a>
        </li>
        {% endif %}

        {% if site.pixiv_username %}
        <li class="u-flex--column c-button--dark">
          <a href="http://pixiv.me/{{ site.pixiv_username }}">
            <span class="p-ft__button">Pixiv</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </section>

    <section class="c-fe--col5 c-fe--col12--landscape">
      <header>
        <h4 class="c-heading">About</h4>
      </header>
        <p class="p-ft__button">{{ site.description }}</p>
      </div>
    </section>
  </footer>
</div>
