<div id="footer" class="u-width--fluid">
  <footer class="c-flex-container">
    <section class="c-fe--col2 c-fe--col12--landscape">
      <header>
        <h4 class="c-heading">つかう</h4>
      </header>
      <ul class="c-button-group--horizontal">
        <li class="u-flex--column c-button--dark">
          <a href="{{ site.serviceurl }}/signin/">
            <span class="p-ft__button">ログイン</span>
          </a>
        </li>
        <li class="u-flex--column c-button--dark">
          <a href="{{ site.serviceurl }}/signup/">
            <span class="p-ft__button">ユーザー登録</span>
          </a>
        </li>
      </ul>
    </section>

    <section class="c-fe--col2 c-fe--col12--landscape">
      <header>
        <h4 class="c-heading">しらべる</h4>
      </header>
      <ul class="c-button-group--horizontal">
        <li class="u-flex--column c-button--dark">
          <a href="/how-to-use/">
            <span class="p-ft__button">つかいかた</span>
          </a>
        </li>
        <li class="u-flex--column c-button--dark">
          <a href="/faq/">
            <span class="p-ft__button">よくある質問</span>
          </a>
        </li>
        <li class="u-flex--column c-button--dark">
          <a href="/issues/">
            <span class="p-ft__button">わかっている不具合</span>
          </a>
        </li>
      </ul>
    </section>
    <section class="c-fe--col2 c-fe--col12--landscape">
      <header>
        <h4 class="c-heading">運営情報</h4>
      </header>
      <ul class="c-button-group--horizontal">
        <li class="u-flex--column c-button--dark">
          <a href="/updates/">
            <span class="p-ft__button">更新情報</span>
          </a>
        </li>
        <li class="u-flex--column c-button--dark">
          <a href="/terms_of_use/">
            <span class="p-ft__button">利用規約</span>
          </a>
        </li>
        <li class="u-flex--column c-button--dark">
          <a href="/privacy_policy/">
            <span class="p-ft__button">プライバシーポリシー</span>
          </a>
        </li>
      </ul>
    </section>

    {% if false %}
    <section class="c-fe--col2 c-fe--col12--landscape">
      <header>
        <h4 class="c-heading">Subscribe</h4>
      </header>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="c-button--dark p-ft__button">
        <span class="p-ft__button">RSS Feed</span>
      </a>
    </section>
    {% endif %}

    <section class="c-fe--col2 c-fe--col12--landscape">
      <header>
        <h4 class="c-heading">SNS</h4>
      </header>
      <ul class="c-button-group--horizontal">
        {% if site.twitter_username %}
        <li class="u-flex--column c-button--dark">
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="p-ft__button">公式twitter</span>
          </a>
        </li>
        <li class="u-flex--column c-button--dark">
          <a href="/blog/">
            <span class="p-ft__button">開発Blog</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </section>

    <section class="c-fe--col5 c-fe--col12--landscape">
      <header>
        <h4 class="c-heading">About</h4>
      </header>
        <p class="p-ft__button">{{ site.description }}</p>
      </div>
    </section>
  </footer>
</div>
