<div class="c-fe--col12--landscape c-fe--col4 c-fe--col6--tablet">
  <a href="{{ post.url }}">
    <article class="p-ci--white u-box-shadow p-card-item" >
      <header class="p-ali__header c-thumbnail" {% if post.eyecatch %} style="background-image: url({{ post.eyecatch | prepend: site.baseurl }});"{% endif %}>
        <div class="p-ali__hd__container">
          <time class="c-date" datetime="{{ post.date }}" pubdate>
            <span class="c-dt__year">{{ post.date | date: "%Y" }}</span>
            <span class="c-dt__day">{{ post.date | date: "%-m/%-d" }}</span>
          </time>

          <h2 class="p-ali__heading">
            {{ post.title }}
          </h2>
        </div>
      </header>
    </article>
  </a>
</div>
