.c-page {
  padding-top: 1em;
  padding-bottom: 1em;
}

.c-page__header {
  padding-top: 1em;
  padding-bottom: 1em;
}

.c-page__heading { 
  font-size: 1.8em;
  line-height: 1.8em;
  color: #717f81; // PANTONE 444 C
}