
.p-mk__herounit {
    background-color: #FFFFFF;
    background-image: url("/assets/marketing/hu__background.png");
    background-repeat: repeat-x;
    background-position: bottom;
}

.p-mk__hu__logo {
    font-size: 4.0em;
    line-height: 1.79em;
    text-align: center;
    color: #003045; // PANTONE 303 C
}

.p-mk__hu__character-image {
    position: relative;

    > img {
        width: 130%;
        height: auto;
        position: absolute;
        pointer-events: none;
    }

    @media (max-width: 767px) {
        & {
            display: none !important;
        }
    }
}

.p-mk__description {
    background-color: #F9F5F2;
}

.p-mk__dsc__signup-button-container {
    margin-top: 1em;
    text-align: center;
}

.p-mk__hu__hero-image {
    margin-top: 2em;
}

.p-mk__dsc__container {
    color: #003045; // PANTONE 303 C
    margin-top: 2em;
}

.p_mk__dsc__links-container {
    margin-top: 2em;
}

.p_mk__dsc__links-list-group {
}

.p_mk__dsc__links-list-group__item {
    margin: 0.3em 1em;
    color: #0085cf; // PANTONE Process Blue C
    font-weight: bold;
}

.p-mk__sec__header {
    
}

.p-mk__sec__heading {
    letter-spacing: 0.2em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    line-height: 1em;
}

.p-mk__avatar {
    width: 60px;
    height: auto;
}

// .p-mk__section {
//     padding-top: 3em;
//     padding-bottom: 4em;
// }

.p-mk__about-trpg {
    background-color: #6e99d4; // PANTONE 659 C
    color: #ffffff;
}

.h-skewed-separator {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 4.5em;
    width: 100%;

    @media (max-width: 767px) {
        & {
            height: 2.5em;
        }
    }
}
.p-mk__about-trpg__separator {
    @extend .h-skewed-separator;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%236e99d4;' /%3E %3Cline fill='none' stroke='#000000' stroke-width='1.414' stroke-miterlimit='10' stroke-opacity='0.1' x1='0.5' y1='100.5' x2='101.5' y2='-0.5'/%3E
    %3Cline fill='none' stroke='#000000' stroke-width='0.707' stroke-miterlimit='10' stroke-opacity='0.1' x1='0' y1='100.5' x2='101' y2='-0.5'/%3E %3C/svg%3E");
}

.p-mk__about-creator {
    background-color: #36424a; // PANTONE 5275 C
    color: #ffffff;
}
.p-mk__about-twitter__separator {
    @extend .h-skewed-separator;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2336424a;' /%3E %3Cline fill='none' stroke='#000000' stroke-width='1.414' stroke-miterlimit='10' stroke-opacity='0.1' x1='0.5' y1='100.5' x2='101.5' y2='-0.5'/%3E
    %3Cline fill='none' stroke='#000000' stroke-width='0.707' stroke-miterlimit='10' stroke-opacity='0.1' x1='0' y1='100.5' x2='101' y2='-0.5'/%3E %3C/svg%3E");
}
