.p-post {
    overflow: hidden;

    display:-webkit-flex;
    display:        flex;
    margin: 40px 0;

    @include flex-column-nowrap;
}

.p-ps__container {
    width: 27em;
}

.p-post-nav {
    font-size: 0.9em;
    color: #002E44;
}

.p-pn__item {
    min-width: 70px;
    background-color: #99bec4; //PANTONE 5503C
}

.p-pn__item--disabled {
    background-color: #a8b8b4; // PANTONE 5507C
}

.p-ps__heading {
    font-family: serif;
    font-weight: normal;
    font-size: 1.3em;
}

.p-ps__info {
    text-align: right;
}

.p-ps__eyecatch {
    width: 100%;
    height: auto;
}
