---
layout: base
---
<div class="u-width--fluid l-header">
  <div class="c-flex-container u-justify--start">
    {% include post_nav.html %}
  </div>
</div>

<article class="p-post">
  <div class="c-flex-container u-justify--center">
    <div class="p-ps__container">
      <header>
        <time class="c-date" datetime="{{ page.date }}" pubdate>
          <span class="c-dt__year">{{ page.date | date: "%Y" }}</span>
          <span class="c-dt__day">{{ page.date | date: "%-m/%-d" }}</span>
        </time>
        <h1 class="p-ps__heading c-heading u-text-right">{{ page.title }}</h1>
        {% if page.eyecatch %}
          <img src="{{ page.eyecatch | prepend: site.baseurl }}" class="p-ps__eyecatch">
        {% endif %}
      </header>

      {% if content %}
        <div class="p-ps__body p-docs">
          {{ content }}
        </div>
      {% endif %}
    </div>
  </div>
</article>
